// Container
.container {
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

// Image
.logo {
    width: 300px;
    margin-bottom: 4rem;
}